[0;1;31m●[0m leonel-VirtualBox
    State: [0;1;31mdegraded[0m
     Jobs: 0 queued
   Failed: 1 units
    Since: Thu 2022-12-22 15:53:59 -03; 1h 13min ago
   CGroup: /
           ├─user.slice 
           │ └─user-1000.slice 
           │   ├─user@1000.service 
           │   │ ├─session.slice 
           │   │ │ ├─org.gnome.SettingsDaemon.MediaKeys.service 
           │   │ │ │ └─[0;38;5;245m1737 /usr/libexec/gsd-media-keys[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Smartcard.service 
           │   │ │ │ └─[0;38;5;245m1746 /usr/libexec/gsd-smartcard[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Datetime.service 
           │   │ │ │ └─[0;38;5;245m1730 /usr/libexec/gsd-datetime[0m
           │   │ │ ├─xdg-document-portal.service 
           │   │ │ │ ├─[0;38;5;245m1032 /usr/libexec/xdg-document-portal[0m
           │   │ │ │ └─[0;38;5;245m1041 fusermount3 -o rw,nosuid,nodev,fsname=portal,auto_unmount,subtype=portal -- /run/user/1000/doc[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Housekeeping.service 
           │   │ │ │ └─[0;38;5;245m1731 /usr/libexec/gsd-housekeeping[0m
           │   │ │ ├─xdg-desktop-portal.service 
           │   │ │ │ └─[0;38;5;245m1595 /usr/libexec/xdg-desktop-portal[0m
           │   │ │ ├─org.freedesktop.IBus.session.GNOME.service 
           │   │ │ │ ├─[0;38;5;245m1720 sh -c /usr/bin/ibus-daemon --panel disable $([ "$XDG_SESSION_TYPE" = "x11" ] && echo "--xim")[0m
           │   │ │ │ ├─[0;38;5;245m1734 /usr/bin/ibus-daemon --panel disable[0m
           │   │ │ │ ├─[0;38;5;245m1839 /usr/libexec/ibus-dconf[0m
           │   │ │ │ ├─[0;38;5;245m1849 /usr/libexec/ibus-extension-gtk3[0m
           │   │ │ │ └─[0;38;5;245m1890 /usr/libexec/ibus-engine-simple[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Keyboard.service 
           │   │ │ │ └─[0;38;5;245m1736 /usr/libexec/gsd-keyboard[0m
           │   │ │ ├─pipewire-media-session.service 
           │   │ │ │ └─[0;38;5;245m929 /usr/bin/pipewire-media-session[0m
           │   │ │ ├─org.gnome.SettingsDaemon.A11ySettings.service 
           │   │ │ │ └─[0;38;5;245m1724 /usr/libexec/gsd-a11y-settings[0m
           │   │ │ ├─pulseaudio.service 
           │   │ │ │ └─[0;38;5;245m930 /usr/bin/pulseaudio --daemonize=no --log-target=journal[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Wacom.service 
           │   │ │ │ └─[0;38;5;245m1748 /usr/libexec/gsd-wacom[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Sharing.service 
           │   │ │ │ └─[0;38;5;245m1745 /usr/libexec/gsd-sharing[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Color.service 
           │   │ │ │ └─[0;38;5;245m1725 /usr/libexec/gsd-color[0m
           │   │ │ ├─org.gnome.SettingsDaemon.ScreensaverProxy.service 
           │   │ │ │ └─[0;38;5;245m1744 /usr/libexec/gsd-screensaver-proxy[0m
           │   │ │ ├─org.gnome.SettingsDaemon.PrintNotifications.service 
           │   │ │ │ ├─[0;38;5;245m1739 /usr/libexec/gsd-print-notifications[0m
           │   │ │ │ └─[0;38;5;245m1802 /usr/libexec/gsd-printer[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Power.service 
           │   │ │ │ └─[0;38;5;245m1738 /usr/libexec/gsd-power[0m
           │   │ │ ├─org.gnome.Shell@wayland.service 
           │   │ │ │ ├─[0;38;5;245m1117 /usr/bin/gnome-shell[0m
           │   │ │ │ ├─[0;38;5;245m2622 gjs /usr/share/gnome-shell/extensions/ding@rastersoft.com/ding.js -E -P /usr/share/gnome-shell/extensions/ding@rastersoft.com -M 0 -D 0:0:800:600:1:27:0:0:0:0[0m
           │   │ │ │ └─[0;38;5;245m2864 /usr/bin/Xwayland :0 -rootless -noreset -accessx -core -auth /run/user/1000/.mutter-Xwaylandauth.1S8XX1 -listen 4 -listen 5 -displayfd 6 -initfd 7[0m
           │   │ │ ├─org.gnome.SettingsDaemon.XSettings.service 
           │   │ │ │ ├─[0;38;5;245m2868 /usr/libexec/gsd-xsettings[0m
           │   │ │ │ └─[0;38;5;245m2893 /usr/libexec/ibus-x11[0m
           │   │ │ ├─org.gnome.SettingsDaemon.Sound.service 
           │   │ │ │ └─[0;38;5;245m1747 /usr/libexec/gsd-sound[0m
           │   │ │ ├─pipewire.service 
           │   │ │ │ └─[0;38;5;245m928 /usr/bin/pipewire[0m
           │   │ │ └─org.gnome.SettingsDaemon.Rfkill.service 
           │   │ │   └─[0;38;5;245m1740 /usr/libexec/gsd-rfkill[0m
           │   │ ├─background.slice 
           │   │ │ └─tracker-miner-fs-3.service 
           │   │ │   └─[0;38;5;245m1938 /usr/libexec/tracker-miner-fs-3[0m
           │   │ ├─app.slice 
           │   │ │ ├─gvfs-goa-volume-monitor.service 
           │   │ │ │ └─[0;38;5;245m1642 /usr/libexec/gvfs-goa-volume-monitor[0m
           │   │ │ ├─app-gnome-x\x2dterminal\x2demulator-2057.scope 
           │   │ │ │ ├─[0;38;5;245m2057 /usr/bin/python3 /usr/bin/gnome-terminal --wait[0m
           │   │ │ │ └─[0;38;5;245m2060 /usr/bin/gnome-terminal.real --wait[0m
           │   │ │ ├─xdg-permission-store.service 
           │   │ │ │ └─[0;38;5;245m1035 /usr/libexec/xdg-permission-store[0m
           │   │ │ ├─app-gnome-update\x2dnotifier-2092.scope 
           │   │ │ │ └─[0;38;5;245m2092 update-notifier[0m
           │   │ │ ├─evolution-calendar-factory.service 
           │   │ │ │ └─[0;38;5;245m1651 /usr/libexec/evolution-calendar-factory[0m
           │   │ │ ├─xdg-desktop-portal-gnome.service 
           │   │ │ │ └─[0;38;5;245m1600 /usr/libexec/xdg-desktop-portal-gnome[0m
           │   │ │ ├─dconf.service 
           │   │ │ │ └─[0;38;5;245m1619 /usr/libexec/dconf-service[0m
           │   │ │ ├─app-gnome\x2dsession\x2dmanager.slice 
           │   │ │ │ └─gnome-session-manager@ubuntu.service 
           │   │ │ │   └─[0;38;5;245m1084 /usr/libexec/gnome-session-binary --systemd-service --session=ubuntu[0m
           │   │ │ ├─gvfs-daemon.service 
           │   │ │ │ ├─[0;38;5;245m 975 /usr/libexec/gvfsd[0m
           │   │ │ │ ├─[0;38;5;245m1009 /usr/libexec/gvfsd-fuse /run/user/1000/gvfs -f[0m
           │   │ │ │ └─[0;38;5;245m1701 /usr/libexec/gvfsd-trash --spawner :1.5 /org/gtk/gvfs/exec_spaw/0[0m
           │   │ │ ├─evolution-source-registry.service 
           │   │ │ │ └─[0;38;5;245m1616 /usr/libexec/evolution-source-registry[0m
           │   │ │ ├─app-gnome-org.gnome.Evolution\x2dalarm\x2dnotify-1840.scope 
           │   │ │ │ └─[0;38;5;245m1840 /usr/libexec/evolution-data-server/evolution-alarm-notify[0m
           │   │ │ ├─gvfs-udisks2-volume-monitor.service 
           │   │ │ │ └─[0;38;5;245m1627 /usr/libexec/gvfs-udisks2-volume-monitor[0m
           │   │ │ ├─snap.snapd-desktop-integration.snapd-desktop-integration.service 
           │   │ │ │ ├─[0;38;5;245m1513 /snap/snapd-desktop-integration/49/usr/bin/snapd-desktop-integration[0m
           │   │ │ │ └─[0;38;5;245m1591 /snap/snapd-desktop-integration/49/usr/bin/snapd-desktop-integration[0m
           │   │ │ ├─app-org.gnome.Terminal.slice 
           │   │ │ │ ├─vte-spawn-65893d5e-f32f-4414-990a-7f8734024f9a.scope 
           │   │ │ │ │ ├─[0;38;5;245m2083 bash[0m
           │   │ │ │ │ ├─[0;38;5;245m5578 sudo docker-compose up --build[0m
           │   │ │ │ │ ├─[0;38;5;245m5579 sudo docker-compose up --build[0m
           │   │ │ │ │ ├─[0;38;5;245m5580 docker-compose up --build[0m
           │   │ │ │ │ └─[0;38;5;245m5581 docker-compose up --build[0m
           │   │ │ │ ├─vte-spawn-1d0499fd-b91c-4c17-a698-3fded3b43f0f.scope 
           │   │ │ │ │ ├─[0;38;5;245m3987 bash[0m
           │   │ │ │ │ ├─[0;38;5;245m6953 systemctl status[0m
           │   │ │ │ │ └─[0;38;5;245m6954 pager[0m
           │   │ │ │ └─gnome-terminal-server.service 
           │   │ │ │   └─[0;38;5;245m2065 /usr/libexec/gnome-terminal-server[0m
           │   │ │ ├─app-gnome-org.gnome.SettingsDaemon.DiskUtilityNotify-1837.scope 
           │   │ │ │ └─[0;38;5;245m1837 /usr/libexec/gsd-disk-utility-notify[0m
           │   │ │ ├─app-gnome-at\x2dspi\x2ddbus\x2dbus-1114.scope 
           │   │ │ │ ├─[0;38;5;245m1114 /usr/libexec/at-spi-bus-launcher --launch-immediately[0m
           │   │ │ │ ├─[0;38;5;245m1126 /usr/bin/dbus-daemon --config-file=/usr/share/defaults/at-spi2/accessibility.conf --nofork --print-address 11 --address=unix:path=/run/user/1000/at-spi/bus[0m
           │   │ │ │ └─[0;38;5;245m1714 /usr/libexec/at-spi2-registryd --use-gnome-session[0m
           │   │ │ ├─gvfs-gphoto2-volume-monitor.service 
           │   │ │ │ └─[0;38;5;245m1671 /usr/libexec/gvfs-gphoto2-volume-monitor[0m
           │   │ │ ├─gnome-session-monitor.service 
           │   │ │ │ └─[0;38;5;245m1072 /usr/libexec/gnome-session-ctl --monitor[0m
           │   │ │ ├─xdg-desktop-portal-gtk.service 
           │   │ │ │ └─[0;38;5;245m1914 /usr/libexec/xdg-desktop-portal-gtk[0m
           │   │ │ ├─gvfs-metadata.service 
           │   │ │ │ └─[0;38;5;245m2013 /usr/libexec/gvfsd-metadata[0m
           │   │ │ ├─dbus.service 
           │   │ │ │ ├─[0;38;5;245m 960 /usr/bin/dbus-daemon --session --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
           │   │ │ │ ├─[0;38;5;245m1607 /usr/libexec/gnome-shell-calendar-server[0m
           │   │ │ │ ├─[0;38;5;245m1646 /usr/libexec/goa-daemon[0m
           │   │ │ │ ├─[0;38;5;245m1661 /usr/libexec/goa-identity-service[0m
           │   │ │ │ ├─[0;38;5;245m1712 /usr/bin/gjs /usr/share/gnome-shell/org.gnome.Shell.Notifications[0m
           │   │ │ │ ├─[0;38;5;245m1864 /usr/libexec/ibus-portal[0m
           │   │ │ │ ├─[0;38;5;245m1971 /usr/bin/gjs /usr/share/gnome-shell/org.gnome.ScreenSaver[0m
           │   │ │ │ └─[0;38;5;245m3017 /usr/bin/snap userd[0m
           │   │ │ ├─snap.firefox.firefox.1e1fcd2f-629e-4462-bcb1-5b116dc28f10.scope 
           │   │ │ │ ├─[0;38;5;245m2775 /snap/firefox/2211/usr/lib/firefox/firefox[0m
           │   │ │ │ ├─[0;38;5;245m2952 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -parentBuildID 20221216042651 -prefsLen 25597 -prefMapSize 227646 -appDir /snap/firefox/2211/usr/lib/firefox/browser {36c28c51-52e1-4f7f-a510-805ac3d2579f} 2775 true socket[0m
           │   │ │ │ ├─[0;38;5;245m2982 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 1 -isForBrowser -prefsLen 25673 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {9184dff1-4ca5-4718-998f-0bcdadf6499c} 2775 true tab[0m
           │   │ │ │ ├─[0;38;5;245m3154 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 2 -isForBrowser -prefsLen 31100 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {4495c9b8-e79f-48c2-8b81-c30414413343} 2775 true tab[0m
           │   │ │ │ ├─[0;38;5;245m3409 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 3 -isForBrowser -prefsLen 31100 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {a09eb5d7-f1ec-4676-a26e-09b775448752} 2775 true tab[0m
           │   │ │ │ ├─[0;38;5;245m3422 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 4 -isForBrowser -prefsLen 31100 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {524a5ab5-a41f-4f52-abb2-72f4abf83632} 2775 true tab[0m
           │   │ │ │ ├─[0;38;5;245m3446 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 5 -isForBrowser -prefsLen 31100 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {fa521dd0-a741-4fdf-bd18-b9c83ff246f8} 2775 true tab[0m
           │   │ │ │ ├─[0;38;5;245m3532 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 6 -isForBrowser -prefsLen 31295 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {c058ab5a-880f-45c7-9b13-9554b620061f} 2775 true tab[0m
           │   │ │ │ └─[0;38;5;245m3582 /snap/firefox/2211/usr/lib/firefox/firefox -contentproc -childID 7 -isForBrowser -prefsLen 31295 -prefMapSize 227646 -jsInitLen 246772 -parentBuildID 20221216042651 -appDir /snap/firefox/2211/usr/lib/firefox/browser {44b37c78-9bad-4045-a1aa-611b718b897a} 2775 true tab[0m
           │   │ │ ├─evolution-addressbook-factory.service 
           │   │ │ │ └─[0;38;5;245m1683 /usr/libexec/evolution-addressbook-factory[0m
           │   │ │ ├─gvfs-mtp-volume-monitor.service 
           │   │ │ │ └─[0;38;5;245m1663 /usr/libexec/gvfs-mtp-volume-monitor[0m
           │   │ │ └─gvfs-afc-volume-monitor.service 
           │   │ │   └─[0;38;5;245m1637 /usr/libexec/gvfs-afc-volume-monitor[0m
           │   │ └─init.scope 
           │   │   ├─[0;38;5;245m885 /lib/systemd/systemd --user[0m
           │   │   └─[0;38;5;245m898 (sd-pam)[0m
           │   └─session-1.scope 
           │     ├─[0;38;5;245m798 gdm-session-worker [pam/gdm-autologin][0m
           │     ├─[0;38;5;245m949 /usr/bin/gnome-keyring-daemon --daemonize --login[0m
           │     ├─[0;38;5;245m958 /usr/libexec/gdm-wayland-session env GNOME_SHELL_SESSION_MODE=ubuntu /usr/bin/gnome-session --session=ubuntu[0m
           │     └─[0;38;5;245m965 /usr/libexec/gnome-session-binary --session=ubuntu[0m
           ├─init.scope 
           │ └─[0;38;5;245m1 /sbin/init splash[0m
           └─system.slice 
             ├─irqbalance.service 
             │ └─[0;38;5;245m655 /usr/sbin/irqbalance --foreground[0m
             ├─containerd.service 
             │ ├─[0;38;5;245m 743 /usr/bin/containerd[0m
             │ ├─[0;38;5;245m5665 /usr/bin/containerd-shim-runc-v2 -namespace moby -id d1a4695af4b3486566c9431eb728262fbe1908e22bba066c48338173a2219aeb -address /run/containerd/containerd.sock[0m
             │ └─[0;38;5;245m5743 /usr/bin/containerd-shim-runc-v2 -namespace moby -id f87ca0aded255762a9655dfcd2340feb706d258fa6f028c75e73eb194781b470 -address /run/containerd/containerd.sock[0m
             ├─packagekit.service 
             │ └─[0;38;5;245m1691 /usr/libexec/packagekitd[0m
             ├─systemd-udevd.service 
             │ └─[0;38;5;245m303 /lib/systemd/systemd-udevd[0m
             ├─cron.service 
             │ └─[0;38;5;245m634 /usr/sbin/cron -f -P[0m
             ├─docker.service 
             │ ├─[0;38;5;245m 961 /usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock[0m
             │ ├─[0;38;5;245m5643 /usr/bin/docker-proxy -proto tcp -host-ip 0.0.0.0 -host-port 5000 -container-ip 172.18.0.2 -container-port 5000[0m
             │ └─[0;38;5;245m5650 /usr/bin/docker-proxy -proto tcp -host-ip :: -host-port 5000 -container-ip 172.18.0.2 -container-port 5000[0m
             ├─polkit.service 
             │ └─[0;38;5;245m657 /usr/libexec/polkitd --no-debug[0m
             ├─networkd-dispatcher.service 
             │ └─[0;38;5;245m656 /usr/bin/python3 /usr/bin/networkd-dispatcher --run-startup-triggers[0m
             ├─rtkit-daemon.service 
             │ └─[0;38;5;245m951 /usr/libexec/rtkit-daemon[0m
             ├─accounts-daemon.service 
             │ └─[0;38;5;245m628 /usr/libexec/accounts-daemon[0m
             ├─wpa_supplicant.service 
             │ └─[0;38;5;245m675 /sbin/wpa_supplicant -u -s -O /run/wpa_supplicant[0m
             ├─ModemManager.service 
             │ └─[0;38;5;245m727 /usr/sbin/ModemManager[0m
             ├─systemd-journald.service 
             │ └─[0;38;5;245m241 /lib/systemd/systemd-journald[0m
             ├─atd.service 
             │ └─[0;38;5;245m677 /usr/sbin/atd -f[0m
             ├─power-profiles-daemon.service 
             │ └─[0;38;5;245m658 /usr/libexec/power-profiles-daemon[0m
             ├─unattended-upgrades.service 
             │ └─[0;38;5;245m738 /usr/bin/python3 /usr/share/unattended-upgrades/unattended-upgrade-shutdown --wait-for-signal[0m
             ├─colord.service 
             │ └─[0;38;5;245m1935 /usr/libexec/colord[0m
             ├─NetworkManager.service 
             │ └─[0;38;5;245m636 /usr/sbin/NetworkManager --no-daemon[0m
             ├─docker-d1a4695af4b3486566c9431eb728262fbe1908e22bba066c48338173a2219aeb.scope 
             │ └─[0;38;5;245m5684 python cotizacion_api.py[0m
             ├─snapd.service 
             │ └─[0;38;5;245m661 /usr/lib/snapd/snapd[0m
             ├─gdm.service 
             │ └─[0;38;5;245m770 /usr/sbin/gdm3[0m
             ├─switcheroo-control.service 
             │ └─[0;38;5;245m662 /usr/libexec/switcheroo-control[0m
             ├─rsyslog.service 
             │ └─[0;38;5;245m659 /usr/sbin/rsyslogd -n -iNONE[0m
             ├─kerneloops.service 
             │ ├─[0;38;5;245m834 /usr/sbin/kerneloops --test[0m
             │ └─[0;38;5;245m836 /usr/sbin/kerneloops[0m
             ├─cups-browsed.service 
             │ └─[0;38;5;245m828 /usr/sbin/cups-browsed[0m
             ├─cups.service 
             │ ├─[0;38;5;245m735 /usr/sbin/cupsd -l[0m
             │ └─[0;38;5;245m813 /usr/lib/cups/notifier/dbus dbus://[0m
             ├─upower.service 
             │ └─[0;38;5;245m1609 /usr/libexec/upowerd[0m
             ├─systemd-oomd.service 
             │ └─[0;38;5;245m586 /lib/systemd/systemd-oomd[0m
             ├─systemd-resolved.service 
             │ └─[0;38;5;245m587 /lib/systemd/systemd-resolved[0m
             ├─udisks2.service 
             │ └─[0;38;5;245m674 /usr/libexec/udisks2/udisksd[0m
             ├─acpid.service 
             │ └─[0;38;5;245m629 /usr/sbin/acpid[0m
             ├─dbus.service 
             │ └─[0;38;5;245m635 @dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only[0m
             ├─systemd-timesyncd.service 
             │ └─[0;38;5;245m588 /lib/systemd/systemd-timesyncd[0m
             ├─docker-f87ca0aded255762a9655dfcd2340feb706d258fa6f028c75e73eb194781b470.scope 
             │ ├─[0;38;5;245m5765 bash script.sh[0m
             │ └─[0;38;5;245m6957 sleep 1[0m
             ├─avahi-daemon.service 
             │ ├─[0;38;5;245m633 avahi-daemon: running [leonel-VirtualBox.local][0m
             │ └─[0;38;5;245m679 avahi-daemon: chroot helper[0m
             └─systemd-logind.service 
               └─[0;38;5;245m663 /lib/systemd/systemd-logind[0m
