[Unit]
Description=Servicio para TP

[Service]
Type=simple
ExecStart=/bin/bash -c "echo 1 > ED_CI2/script/sync.txt"

[Install]
WantedBy=multi-user.target
